* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f9fafb;
  color: #0b0b0b;
}

input {
  font-family: inherit;
}

button {
  font-family: inherit;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #1a1a19;
    color: #f0efec;
  }
}
